NET "clk" LOC = R10;


NET "DIGIT[0]" LOC = V8;
NET "DIGIT[1]" LOC = U8;
NET "DIGIT[2]" LOC = V6;
NET "DIGIT[3]" LOC = T6;
NET "DISPLAY[0]" LOC = P6;
NET "DISPLAY[1]" LOC = N4;
NET "DISPLAY[2]" LOC = V5;
NET "DISPLAY[3]" LOC = T5;
NET "DISPLAY[4]" LOC = U7;
NET "DISPLAY[5]" LOC = R3;
NET "DISPLAY[6]" LOC = N5;
NET "DISPLAY[7]" LOC = R5;
NET "DISPLAY[8]" LOC = U5;

# PlanAhead Generated physical constraints 

NET "COLUMN[0]" LOC = H1;
NET "COLUMN[1]" LOC = H2;
NET "COLUMN[2]" LOC = J1;
NET "COLUMN[3]" LOC = J3;
NET "ROW[0]" LOC = L3;
NET "ROW[1]" LOC = L4;
NET "ROW[2]" LOC = K1;
NET "ROW[3]" LOC = K2;

// Add related design port 
NET "reset_n" LOC = N3;
NET "operator[0]" LOC = T2;
NET "operator[1]" LOC = U1;