NET "clk" LOC = R10;
NET "reset" LOC = N3;
NET "startStop" LOC = T2;
NET "pause" LOC = U1;
NET "LCD_ENABLE" LOC = F5;
NET "LCD_RW" LOC = C2;
NET "LCD_DI" LOC = C1;
NET "LCD_CS1" LOC = F4;
NET "LCD_CS2" LOC = E1;
NET "LCD_RST" LOC = E3;
NET "LCD_DATA[0]" LOC = F6;
NET "LCD_DATA[1]" LOC = D3;
NET "LCD_DATA[2]" LOC = E4;
NET "LCD_DATA[3]" LOC = G6;
NET "LCD_DATA[4]" LOC = H7;
NET "LCD_DATA[5]" LOC = D1;
NET "LCD_DATA[6]" LOC = D2;
NET "LCD_DATA[7]" LOC = F3;